@font-face {
	font-family: 'Candle_Mustard';
	src: url("candle_mustard-webfont.woff");
}

header#indexHeader{
	background: linear-gradient(-45deg, #23A6D5, #23D5AB); 
	background-size: 400% 400%;
	height: 70vh;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient{
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.uk-navbar-sticky {
	background-color: powderblue !important;
}